<div class="map">
  <div id="show-on-map" data-address="<%= addresses.to_json %>"></div>
  <!-- <input type="hidden" value="<%= address.lat %>" id="address_lat">
  <input type="hidden" value="<%= address.lng %>" id="address_lng"> -->

    <div></div>
  </div>
</div>
