<div class="map">
  <div id="googleMap" style="width:100%;height:600px;"></div>
  <input type="hidden" value="<%= address.lat %>" id="address_lat">
  <input type="hidden" value="<%= address.lng %>" id="address_lng">
</div>
