<div class="row">
  <div class="col-md-4">
    <div class="col-xs-8">
      <%= search_form_for @q do |f| %>
        <%= f.select :address_region_id_eq,
          options_from_collection_for_select(Region.all, "id", "name",
            @q.address_region_id_eq), { include_blank: true }, class: "form-control" %>
    </div>
    <div class="col-xs-4">
      <%= f.submit "Seach", class: "btn btn-default" %>
    </div>
    <% end %>
  </div>
</div>
